 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    /* color: white; */
    font-weight: bolder;
    padding: 10px 20px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left i {
    margin-right: 10px;
    cursor: pointer;
}

.header-right i {
    margin-left: 20px;
    cursor: pointer;
}

.main-content {
    display: flex;
    flex: 1;
}



main {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #f8f9fa;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

table, th, td {
    border: 1px solid #dee2e6;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #e9ecef;
}

.blue{
  color: #0278b9;
}


.pagination {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination button:disabled {
  cursor: not-allowed;
}
.addnew{float: right;
  
    padding: 10px;
    font-size: 16px;
    color: black;
    font-weight: bold;
    background-color: #ffcc06;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.addnew:hover {
    background-color: #0056b3;
}

.user-section th{
  background-color: white;
}
.user-section
  { background: "white";
     padding-bottom: "2%" }

     .user-section h3{
      padding-bottom: 5px;
     }


.ml_12{
  margin-left: 12px;
}


.second-section,.first-section{
   display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.second-section select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.second-section button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.second-section .button:hover {
  background-color: #0056b3;
}